aiohttp==3.8.1
attr==0.3.1
attrs==21.4.0
blinker==1.4
brotli==1.0.9
ca_certs_locater==1.0
click==8.0.4
configparser==5.2.0
cryptography==36.0.1
Cython==0.29.28
dl==0.1.0
docutils==0.18.1
grpc_status==1.0.0
HTMLParser==0.0.2
ipython==8.10.0
ipywidgets==7.7.0
Jinja2==3.1.2
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.8.0
numpy==1.22.2
oauth2client==4.1.3
ordereddict==1.1
Pillow==9.1.0
pyOpenSSL==22.0.0
pytest==7.0.1
pyu2f==0.1.5
railroad==0.5.0
simplejson==3.17.6
Sphinx==4.5.0
toml==0.10.2
tornado==6.1
unicodedata2==14.0.0
win_inet_pton==1.1.0
xmlrpclib==1.0.1
